
  .mobile {
    background: #000;
    font-size: 1.5rem;
    color: white;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .mobile li {
    margin-left: 100px;
    list-style: none;
    width: 100px;
    height: 50px;
    z-index: 2;
  }
  .mobile-button {
    position: fixed;
    top: 0;
    z-index: 2;
    font-size: 2rem;
    margin: 5vh 0 3vh 2vh;
    color: #fff;
    cursor: pointer;
  }
  .PC{
    /*background: linear-gradient(0.25turn,#1ecbe1, #77DAE7);*/
    background: black;
    height: 12vh;
    display: flex;
    justify-content: flex-end;
    column-gap: 2vw;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    transition: 1s;
    color: #fff;
    font-size: 1.4rem;

  }
  .PC li {
    padding-right: 1vw;
    list-style: none;
    padding-top: 8px;
  }
  .logo {
    z-index: 10;
    position: absolute;
    left: 5%;
  }
  .Nav-phone-beforeExit {
    /* background: linear-gradient(0.25turn,#1ecbe1, #77DAE7); */
    background: black;
    height: 10vw; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2vw;
    width: 100%;
    position: fixed;
    top: 0;
    color: #fff;
    padding: 10px;
    z-index: 2;
  }

  .Nav-phone-beforeExit h2 {
    padding-right: 10vw;
    z-index: 2;
  }
  .Nav-phone-button {
    font-size: 2rem;
    color: #fff;
    z-index: 2;
  }
  .back {
    position: fixed;
    background-color: rgba(32, 32, 32,0.8);
    width: 50%;
    right: 0;
    top: 0;
    height: 10000px;
    z-index: 3;
    opacity: 1;
      animation-name: fadeInOpacity;
    animation-duration: 1s;
  }
  @keyframes fadeInOpacity {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
 
  .mobile-main {
    overflow: hidden;
    z-index: 2;
  }
  @media (max-width: 500px) {
    .Nav-phone-beforeExit {
        height: 15vw; 
    }
    .back {
      width: 30%;
    }
    .mobile {
      width: 70%;
    }
  }